


.editor-block-list__block,
.editor-block-list__block p {background-color:#ffffff; color:#9c9c9c; font-size:16px;}
.editor-block-list__block h1,
.editor-block-list__block h2,
.editor-block-list__block h3,
.editor-block-list__block h4,
.editor-block-list__block h5,
.editor-block-list__block h6 {color:#222222;}
.editor-post-title__block textarea {color:#e6d5ed; background-color:#875399;}
.editor-block-list__block a,
.editor-block-list__block strong,
.editor-block-list__block b,
.editor-block-list__block b a,
.editor-block-list__block strong a {color:#875399;}
.editor-block-list__block .wp-block-heading,
.editor-post-title__block textarea {font-family:'caveat', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica-Neue', Helvetica, Arial, sans-serif;}
.editor-block-list__block {font-family:'open sans', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica-Neue', Helvetica, Arial, sans-serif;}
